@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #__next {
        position: relative;
        width: 100%;
        height: 100%;
    }

    body {
        @apply bg-black text-white text-base;
    }

    /*
    * Lenis recommended styles
    */
    /* html.lenis,
    html.lenis body,
    html.lenis #__next {
        height: auto;
    } */

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    /* .lenis.lenis-stopped {
        overflow: hidden;
    } */

    .lenis.lenis-smooth iframe {
        pointer-events: none;
    }
}

@layer components {
    /* Container max width override */
    .container {
        @apply md:max-w-xl lg:max-w-2xl xl:max-w-3xl 2xl:max-w-4xl;
    }
}
